---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex justify-center items-center h-screen">
			<div>
				<h1 class="text-9xl">Hi!</h1>
				<h2 class="text-6.5xl">Welcome to my website.</h2>
				<a href="#about" class="text-n4xo-beige hover:text-n4xo-brown text-6.5xl font-extrabold">-></a>
			</div>
		</div>
	</main>
</Layout>

