---
import Layout from '../layouts/Layout.astro';
import LandingSection from '../layouts/LandingSection.astro';
import ResumeHeader from '../layouts/ResumeHeader.astro';
import Contact from '../components/Contact.svelte';
---

<Layout title="n4xo">
	<main>
		<div id="welcome" class="flex justify-center items-center h-screen">
			<div>
				<h1 class="text-4xl sm:text-6xl md:text-7xl md:leading-tight lg:text-8xl lg:leading-none xl:text-9xl">Hi!</h1>
				<h2 class="text-xl sm:text-2xl md:text-4xl md:leading-tight lg:text-5xl lg:leading-none xl:text-6.5xl">Welcome to my website.</h2>
				<a href="#about" class="text-n4xo-beige dark:text-n4xo-beige-dark hover:text-n4xo-brown dark:hover:text-n4xo-brown-dark text-4xl sm:text-5xl md:text-6.5xl font-extrabold lg:leading-tight">-></a>
			</div>
		</div>
		<LandingSection title="About me" id="about">
			<div class="flex flex-col xl:flex-row gap-5">
				<div>
					<p class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mb-[20px]">Hey! I'm Nacho (n4xo), a passionate software engineer specializing in backend development.</p>
				</div>
				<div>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">I graduated with a degree in Computer Science from the University of Málaga, and I've been honing my skills as a software engineer for nearly three years. My professional journey includes optimizing database pipelines, leading chatbot integrations, and automating processes to enhance efficiency.</p>
					<br>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">I thrive in environments where I can learn and apply new technologies. Currently, I work with Node.js and TypeScript but have a deep love for Go, particularly with the Fiber framework. I'm also diving into Svelte for front-end development and have my sights set on mastering Rust soon.</p>
				</div>
			</div>
		</LandingSection>
		<LandingSection title="Projects" id="projects">
			<div class="flex flex-col xl:flex-row gap-5">
				<div>
					<p class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mb-[20px]">Here are some of the projects I've worked on recently:</p>
				</div>
				<div>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/n4xo-dev/n4xo.com" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">n4xo.com</a>: My personal website built with Astro, Svelte, and Tailwind CSS.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/n4xo-dev/solidurls" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">SolidURLs</a>: A URL shortener built with Node.js, TypeScript, and NestJS.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/n4xo-dev/api-wars" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">API Wars</a>: My senior thesis project, a comparative analysis between API paradigms, namely REST, GraphQL, and gRPC. I built a social network app backend with Go for each paradigm and compared their performance.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/Cyber-Punk-REAS/the_project" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">Cyber Punk REAS</a>: A college project where we built a web app to simulate how the spread of the COVID-19 virus changed in different regions depending on the policies adopted using Java and Spring Boot.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/Solidform-labs/newsletter" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">Newsletter</a>: A simple newsletter subscription service built with Go.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/Soft-Coders/SIInt" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">SoftCoders</a>: A college project where we built a web app for a FinTech (Ebury) usign Java EE.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">- <a href="https://github.com/n4xo-dev/geneticSudoku" class="text-n4xo-beige hover:text-n4xo-brown dark:text-n4xo-beige-dark dark:hover:text-n4xo-brown-dark font-bold">Genetic Sudoku</a>: A genetic algorithm to solve Sudoku puzzles built with Java.</p>
				</div>
			</div>
		</LandingSection>
		<LandingSection title="Resume" id="resume">
			<div>
				<h2 class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl">Summary</h2>
				<hr class="border-n4xo-dark border-2 dark:border-n4xo-light"><br>
				<p class="text-l 2xl:text-xl">Results-driven <strong>Backend Software Engineer API Expert</strong> with over 3 years of experience specializing in <strong>Node.js</strong> development.
					Expertise in APIs, building scalable microservices, optimizing backend performance, and leading complex projects. Proficient in distributed systems, client-server architectures, and cloud platforms.
					Experienced in all stages of the software development lifecycle with a strong focus on code quality and craftsmanship. <strong>Author on Medium</strong>, sharing insights on backend development.
					Seeking to leverage my Node.js and backend development skills to contribute to a forward-thinking team focused on innovation and excellence.</p>
				<h2 class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mt-[20px]">Professional experience</h2>
				<hr class="border-n4xo-dark border-2 dark:border-n4xo-light"><br>
				<ResumeHeader position='Mid-level Backend Software Engineer' company='Bizaway' link='https://bizaway.com/en/' date='Nov 2023 - Present'/>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Optimized</strong> backend for "BizzyFlex" insurance product, reducing database processing time from <strong>30 seconds to 400 milliseconds</strong> (90% efficiency gain).</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Led</strong> the development of a customer support microservice integrating with Zendesk; implemented a custom versioning system for forms and fields, improving <strong>data accuracy</strong> and streamlining customer interactions.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Authored</strong> comprehensive technical documentation and <strong>mentored</strong> junior developers on system architecture, design principles, testing methodologies, and best practices.</li>
				</ul>
				<ResumeHeader position='Mid-level Software Engineer' company='Ebury' link='https://ebury.com/' date='Jul 2023 - Nov 2023'/>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Spearheaded</strong> the <strong>EburyGPT BPA integration</strong>, enhancing employee access to critical integrations via an intuitive chatbot interface; implemented Salesforce ID lookup for Business Support using OpenAI API's Function Calls.</li>
				</ul>
				<ResumeHeader position='Junior Software Engineer' company='Ebury' link='https://ebury.com/' date='Jan 2023 - Jul 2023'/>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Engineered</strong> automated microservices for regulatory compliance, backing up <strong>26,000+ files</strong> from Google Drive to GCP Storage with flawless reliability at only <strong>€0.05 per year</strong>.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Boosted</strong> employee performance tracking by <strong>developing</strong> an advanced Jira task metadata extraction tool, providing actionable insights and improving decision-making efficiency.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Enhanced</strong> developer experience by creating Google Apps Script and Node.js libraries for seamless API integration.</li>
				</ul>
				<ResumeHeader position='Part-time Software Engineer' company='Ebury' link='https://ebury.com/' date='Aug 2022 - Jan 2023'/>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Automated</strong> data reconciliation between Google Workspace Admin and HiBob for <strong>1,600+ employees</strong> by developing a robust synchronization cronjob, significantly improving data consistency and reducing manual effort.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Streamlined</strong> HR and Service Desk onboarding processes by designing and implementing an automated solution using Jira, Vonage, and Fenergo, reducing onboarding time and minimizing manual errors.</li>
				</ul>
				<ResumeHeader position='Paintball Instructor' company='Paintball Mountain' link='https://www.paintballmountain.es/' date='Oct 2021 - Apr 2022'/>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl">Honed interpersonal and sales skills by instructing clients on safe paintball practices, supervising gameplay, and successfully <strong>upselling</strong> reloads, showcasing an ability to understand and <strong>cater to client needs</strong> effectively.</li>
				<h2 class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mt-[20px]">Education</h2>
				<hr class="border-n4xo-dark border-2 dark:border-n4xo-light"><br>
				<ResumeHeader position="Bachelor's Degree in Computer Science" company='Universidad de Málaga' link='https://www.uma.es/' date='2024'/>
				<ul class="list-disc list-inside">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Honors</strong>: Introduction to Software Engineering 10, Computer Structure 9.9, Computer Technology 9.7</li>
				</ul>
				<ResumeHeader position='Enxtension Course on Deep Learning and CUDA' company='Universidad de Málaga' link='https://www.uma.es/' date='2021'/>
				<h2 class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mt-[20px]">Skills</h2>
				<hr class="border-n4xo-dark border-2 dark:border-n4xo-light"><br>
				<ul class="list-disc list-inside mb-5">
					<li class="leading-snug text-l 2xl:text-xl"><strong>Programming Languages</strong>: TypeScript, JavaScript, Go, Python, SQL, Java, C, HTML, CSS.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Web Dev</strong>: Node.js, Express, Fiber, REST, GraphQL, gRPC, PostgreSQL, MongoDB Redis, Docker, Apps Script.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Frontend</strong>: Svelte, Tailwind CSS, HTML, CSS, JavaScript, Astro.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Google Cloud Platform</strong>: Functions, Application Integration, Secret Manager, Workflows, Storage, Run.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Testing</strong>: Jest, Playwright, Postman, k6.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Miscellaneous</strong>: Jira, Git, GitHub, Google Workspace, Airtable.</li>
					<li class="leading-snug text-l 2xl:text-xl"><strong>Languages</strong>: English Cambridge C1, Spanish native.</li>
				</ul>
			</div>
		</LandingSection>
		<LandingSection title="Blog" id="blog">
			<div class="flex flex-col xl:flex-row gap-5">
				<div class="flex-1">
					<p class="leading-tight text-xl sm:text-2xl md:text-3xl 2xl:text-4xl mb-[20px]">Check out my latest online rants in my blog.</p>
					<p class="leading-relaxed text-l 2xl:text-xl mb-[20px]">Explore thought-provoking articles, coding tutorials, and unique perspectives on technology and productivity.</p>
          <p class="mt-10"><a href="https://medium.com/@n4xo" target="_blank" class="bg-n4xo-beige dark:bg-n4xo-beige-dark text-white font-bold py-3 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-n4xo-beige dark:focus:ring-n4xo-beige-dark hover:bg-n4xo-brown dark:hover:bg-n4xo-brown-dark">Check it out</a></p>
				</div>
				<div class="flex-1 gradient-mask relative -z-10">
					<img src="blog.png" alt="Blog" class="w-full h-auto my-10">
				</div>
			</div>
		</LandingSection>
		<LandingSection title="Contact" id="contact">
			<Contact client:load/>
		</LandingSection>
	</main>
</Layout>

<style>
	.gradient-mask img {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
</style>