---
import Layout from '../layouts/Layout.astro';
---

<Layout title="n4xo">
	<main>
		<div class="flex justify-center items-center h-screen">
			<div>
				<h1 class="text-9xl">Hi!</h1>
				<h2 class="text-6.5xl">Welcome to my website.</h2>
				<a href="#about" class="text-n4xo-beige hover:text-n4xo-brown text-6.5xl font-extrabold">-></a>
			</div>
		</div>
		<div class="flex justify-center items-center h-dvh">
			<div class="text-center">
				<p class="text-5xl lg:text-9xl p-2">ᕕ(・◞ ・)ᕗ</p>
				<p class="text-2xl lg:text-5xl p-2">Site under construction<p>
			</div>
		</div>
	</main>
</Layout>

