---
import '@fontsource/jetbrains-mono';
import Header from "../components/Header.astro";
interface Props {
	title: string;
	despcription?: string;
}

const { title, despcription = "My personal website to show case my portfolio and background." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={despcription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-n4xo-light">
		<Header />
		<slot />
	</body>
</html>
