---
import '@fontsource/jetbrains-mono';
import Header from "../components/Header.astro";
interface Props {
	title: string;
	despcription?: string;
}

const { title, despcription = "My personal website to show case my portfolio and background." } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={despcription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Script to find the theme configuration of the user -->
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();
		
			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
			window.localStorage.setItem("theme", theme);
		</script>
	</head>
	<body class="min-h-screen bg-n4xo-light dark:bg-n4xo-dark dark:text-white flex flex-col h-screen transition-colors duration-500">
		<Header class="h-auto"/>
		<slot class="flex-grow-1"/>
	</body>
</html>